# Y.Music

<div style="border:solid black 2px; padding: 20px"><h1 style="color:green; margin-bottom:20px">Reviewer's comment v1</h1>
Halo Mufti!

Perkenalkan saya Naufal, disini saya akan mereview tugas Mufti ya.

Saya akan memberikan beberapa komen seperti dibawah ini, tolong jangan dipindah, dirubah, maupun dihapus ya.

Komen yang saya berikan akan muncul dalam warna hijau, kuning, atau pun merah seperti ini:

<div class="alert alert-success">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Bagus, semua berjalan lancar.

</div>

<div class="alert alert-warning">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Terdapat beberapa catatan.

</div>

<div class="alert alert-danger">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Perlu beberapa perbaikan

</div>

Dan tentu saja Mufti dapat menjawab saya dengan menggunakan ini

<div class="alert alert-block alert-info">
<b>Student answer.</b> <a class="tocSkip"></a>
</div>

<div style="border:solid black 2px; padding: 20px">
<b>Reviewer's comment v1:</b>
    
<b>Overall Feedback</b> 
    
- Secara keseluruhan ini adalah hasil yang bagus! Beberapa poin bahkan melebihi dari ekspektasi pada peserta lain secara umum.
- Namun terdapat beberapa poin dimana perlu perbaikan namun saya rasa bukan lah hal yang sulit seperti terdapat beberapa pengulangan yang kurang efektif baik dalam perumusan fungsi maupun penulisan koding khususnya penggunaan `print()` yang tidak diperlukan.
    
Untuk perbaikan nya ditunggu ya!
</div>

<div style="border:solid black 2px; padding: 20px">
<b>Reviewer's comment v2:</b>
    
<b>Overall Feedback</b> 
    
Perbaikan yang dilakukan sudah efisien dan tepat sasaran. Oleh karena itu project sudah dapat disetujui dan melanjutkan ke tahapan berikutnya. Namun ada beberapa catatan yang mungkin membantu dikemudian hari ya. Keep up the good work! üëçüëçüëç
</div>

# Konten <a id='back'></a>

* [Pendahuluan](#intro)
* [Tahap 1. Ikhtisar Data](#data_review)
    * [Kesimpulan](#data_review_conclusions)
* [Tahap 2. Pra-pemrosesan data](#data_preprocessing)
    * [2.1 Gaya Penulisan Judul](#header_style)
    * [2.2 Nilai-Nilai yang Hilang](#missing_values)
    * [2.3 Duplikat](#duplicates)
    * [2.4 Kesimpulan](#data_preprocessing_conclusions)
* [Tahap 3. Menguji Hipotesis](#hypotheses)
    * [3.1 Hipotesis 1: aktivitas pengguna di dua kota](#activity)
    * [3.2 Hipotesis 2: preferensi musik pada hari Senin dan Jumat](#week)
    * [3.3 Hipotesis 3: preferensi genre di kota Springfield dan Shelbyville](#genre)
* [Temuan](#end)

## Pendahuluan <a id='intro'></a>
Setiap kali kita melakukan penelitian, kita perlu merumuskan hipotesis yang kemudian dapat kita uji. Terkadang kita menerima hipotesis ini; tetapi terkadang kita juga menolaknya. Untuk membuat keputusan yang tepat, sebuah bisnis harus dapat memahami apakah asumsi yang dibuatnya benar atau tidak.

Dalam proyek kali ini, Anda akan membandingkan preferensi musik di kota Springfield dan Shelbyville. Anda akan mempelajari data Y.Music yang sebenarnya untuk menguji hipotesis di bawah ini dan membandingkan perilaku pengguna di kedua kota ini.

### Tujuan: 
Menguji tiga hipotesis:
1. Aktivitas pengguna berbeda-beda tergantung pada hari dan kotanya.
2. Pada senin pagi, penduduk Springfield dan Shelbyville mendengarkan genre yang berbeda. Hal ini juga ini juga berlaku untuk Jumat malam.
3. Pendengar di Springfield dan Shelbyville memiliki preferensi yang berbeda. Di Springfield, mereka lebih suka musik pop, sementara Shelbyville, musik rap memiliki lebih banyak penggemar.

### Tahapan
Data tentang perilaku pengguna disimpan dalam berkas `/datasets/music_project_en.csv`. Tidak ada informasi tentang kualitas data, jadi Anda perlu memeriksanya lebih dahulu sebelum menguji hipotesis.

Pertama, Anda akan mengevaluasi kualitas data dan melihat apakah masalahnya signifikan. Kemudian, selama pra-pemrosesan data, Anda akan mencoba memperhitungkan masalah yang paling serius.
 
Proyek ini akan terdiri dari tiga tahap:
 1. Ikhtisar Data
 2. Pra-pemrosesan Data
 3. Menguji Hipotesis

 
[Kembali ke Daftar Isi](#back)

## Tahap 1. Ikhtisar Data <a id='data_review'></a>

Buka data di Y.Music lalu jelajahi data yang ada di sana.

Anda akan membutuhkan `Pandas`, jadi Anda harus mengimpornya.

In [1]:
# mengimpor Pandas
import pandas as pd

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Kerja bagus, langkah pertama yaitu mengimpor `pandas` dengan singkatan yang sangat umum dipakai yaitu `pd`.

</div>

Baca file `music_project_en.csv` dari folder `/datasets/` lalu simpan di variabel `df`:

In [2]:
# membaca berkas dan menyimpannya ke df
df = pd.read_csv('/datasets/music_project_en.csv')
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Hebat! penulisan direktori file dengan tepat terkait folder `/datasets/` serta penggunaan `describe()`.

</div>

Tampilkan 10 baris tabel pertama:

In [3]:
# memperoleh 10 baris pertama dari tabel df
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L‚Äôestate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan fungsi `head()` yang benar untuk menampilkan `n` baris pertama dalam dataframe. Selain fungsi `head()` ada juga fungsi `tail()` yang merupakan kebalikannya yaitu menampilkan `n` baris terakhir dari dataframe.

</div>

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

Memperoleh informasi umum tentang tabel dengan satu perintah:

In [4]:
# memperoleh informasi umum tentang data di df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

# Tabel ini berisi tujuh kolom. Semuanya menyimpan tipe data yang sama, yaitu: `object`.

Berdasarkan dokumentasi:
- `'userID'` ‚Äî pengenal pengguna
- `'Track'` ‚Äî judul trek
- `'artist'` ‚Äî nama artis
- `'genre'`
- `'City'` ‚Äî kota tempat pengguna berada
- `'time'` ‚Äî lama waktu lagu tersebut dimainkan
- `'Day'` ‚Äî nama hari

Kita dapat melihat tiga masalah dengan gaya penulisan nama kolom:
1. Beberapa nama huruf besar, beberapa huruf kecil.
2. Ada penggunaan spasi pada beberapa nama.
3. `Coba cari masalah ketiga dan jelaskan di sini`. Tidak ada penjelasan dokumentasi untuk kolom genre. Time

Jumlah nilai kolom berbeda. Ini berarti data mengandung nilai yang hilang.

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Coba fokuskan permasahan pada gaya penulisan nama kolom ya.
</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, jadi masalah yang ketiga apa ya, saya masih kurang paham.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Yang dimaksud disini adalah terkait gaya penulisan yang tidak sama dimana umumnya nama kolom mengikuti style `snake_case` dengan huruf kecil dan `_` sebagai pemisah dua kata.
</div>

### Kesimpulan <a id='data_review_conclusions'></a> 

Setiap baris dalam tabel menyimpan data pada judul trek yang diputar. Beberapa kolom menggambarkan lagu itu sendiri: judul trek, artis, dan genre. Sisanya menyampaikan informasi tentang pengguna: kota asal mereka, waktu mereka memutar lagu.

Jelas bahwa data tersebut cukup untuk menguji hipotesis. Namun, ada nilai-nilai yang hilang.

Selanjutnya, kita perlu melakukan pra-pemrosesan data terlebih dahulu.

[Kembali ke Daftar Isi](#back)

## Tahap 2. Pra-pemrosesan Data <a id='data_preprocessing'></a>
Perbaiki format pada judul kolom dan atasi nilai yang hilang. Kemudian, periksa apakah ada duplikat dalam data.

### Gaya Penulisan Judul <a id='header_style'></a>
Tampilkan judul kolom:

In [5]:
# daftar nama kolom di tabel df
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

Ubah nama kolom sesuai dengan aturan gaya penulisan yang baik:
* Jika nama memiliki beberapa kata, gunakan snake_case
* Semua karakter harus menggunakan huruf kecil
* Hapus spasi

In [6]:
# mengganti nama kolom
df = df.rename(
    columns = {
        '  userID':'user_id',
        'Track':'track',
        '  City  ':'city',
        'Day' : 'day',
    }
)

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Metode perubahan nama kolom yang benar sehingga tidak akan muncul error walaupun terdapat perbedaan urutan kolom.

</div>

Periksa hasilnya. Tampilkan nama kolom sekali lagi:

In [7]:
# mengecek hasil: daftar nama kolom
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Kembali ke Daftar Isi](#back)

### Nilai-Nilai yang Hilang <a id='missing_values'></a>
Pertama, temukan jumlah nilai yang hilang dalam tabel. Untuk melakukannya, gunakan dua metode `Pandas`:

In [8]:
# menghitung nilai yang hilang
df.isna().sum()

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Fungsi `isna()` telah digunakan dengan baik. Terdapat alternatif lain yaitu `isnull()` tetapi `isna()` lebih umum dipakai.

</div>

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

Tidak semua nilai yang hilang berpengaruh terhadap penelitian. Misalnya, nilai yang hilang dalam `track` dan `artist` tidak begitu penting. Anda cukup menggantinya dengan penanda yang jelas.
Namun nilai yang hilang dalam `'genre'` dapat memengaruhi perbandingan preferensi musik di Springfield dan Shelbyville. Dalam kehidupan nyata, sangatlah berguna untuk mempelajari alasan mengapa data tersebut hilang dan mencoba memperbaikinya. Tetapi kita tidak memiliki kesempatan itu dalam proyek ini. Jadi Anda harus:
* Isi nilai yang hilang ini dengan sebuah penanda
* Evaluasi seberapa besar nilai yang hilang dapat memengaruhi perhitungan Anda

Ganti nilai yang hilang pada `'track'`, `'artist'`, dan `'genre'` dengan string `'unknown'`. Untuk melakukannya, buat list `columns_to_replace`, lakukan *loop* dengan `for`, dan ganti nilai yang hilang di setiap kolom:

In [9]:
# loop nama kolom dan ganti nilai yang hilang dengan 'unknown'
def columns_to_replace(miss_value, temp_value):
    for value in miss_value:
        df[miss_value] = df[miss_value].fillna(temp_value)

list_miss = ['track', 'artist', 'genre']
unknown = 'unknown'
columns_to_replace(list_miss, unknown)

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Telah mendefinisikan fungsi tanpa error sehingga dapat melakukan imputasi nilai-nilai yang hilang dengan lancar.

</div>

Pastikan tidak ada tabel lagi yang berisi nilai yang hilang. Hitung kembali nilai yang hilang.

In [10]:
# menghitung nilai yang hilang
df.isna().sum()

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

[Kembali ke Daftar Isi](#back)

### Duplikat <a id='duplicates'></a>
Temukan jumlah duplikat eksplisit dalam tabel menggunakan satu perintah:

In [11]:
# menghitung duplikat eksplisit
df.duplicated().sum()

duplicated_df = df[df.duplicated()]
duplicated_df

,user_id,track,artist,genre,city,time,day
575,E7F07B46,Crazy,The Manhattans,rnb,Springfield,13:39:46,Monday
832,7671A47A,Johnny Go!,NikitA,ruspop,Springfield,21:59:33,Wednesday
1216,69467B01,Change It All,Harrison Storm,singer,Springfield,20:53:06,Wednesday
1754,13B1A573,Te Adoramos Jes√∫s,Athenas,spiritual,Springfield,13:19:37,Monday
1964,B24668A0,Mad over You Mashup,Nana Fofie,singer,Springfield,20:36:51,Monday
...,...,...,...,...,...,...,...
65042,83E9C8C4,Buddhist Beat,Asian Zen Spa Music Meditation,ambient,Springfield,13:25:29,Monday
65056,2E25BCD2,Psychobitch,Easter,pop,Springfield,14:53:07,Friday
65059,F231C47E,All Summer in a Day,VHS Or BETA,electronic,Springfield,20:31:23,Friday
65067,F1B93F29,Poison Kiss,Centerstone,rock,Shelbyville,22:00:29,Monday
65069,BE1AAD74,Waterwalk,Eduardo Gonzales,electronic,Springfield,20:38:59,Monday

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

Panggil metode `Pandas` untuk menghapus duplikat eksplisit:

In [12]:
# menghapus duplikat eksplisit
df = df.drop_duplicates().reset_index(drop=True)

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sempurna! penggunaan `drop_duplicates()` sudah benar hingga penggunaan `reset_index()` dan argumen `drop=True`.


</div>

Hitung duplikat eksplisit sekali lagi untuk memastikan Anda telah menghapus semuanya:

In [13]:
# memeriksa duplikat
df.duplicated().sum()

0

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

Sekarang hapus duplikat implisit di kolom `genre`. Misalnya, nama genre dapat ditulis dengan cara yang berbeda. Kesalahan seperti ini juga akan memengaruhi hasil.

Tampilkan daftar nama genre yang unik, urutkan berdasarkan abjad. Untuk melakukannya:
* Ambil kolom DataFrame yang dimaksud
* Terapkan metode pengurutan untuk itu
* Untuk kolom yang diurutkan, panggil metode yang akan menghasilkan semua nilai kolom yang unik

In [14]:
# melihat nama genre yang unik
df = df.sort_values(by = 'genre')
df

df['genre'].sort_values().unique()

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'ax√©', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forr√≥',
       'frankreich', 'franz√∂sisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hip', 'hip-hop', 'hiphop',
       'historisch', 'holiday', 'hop', 'horror', 'house', 'idm',
       'independent', 'indian', 'indie', 'indipop', 'industrial',
       'inspirational', 'instrumental', 'international', 'irish', 'jam',
       'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop',
       'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin',
       'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic',
       'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative',
       'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican',
       'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb',
       'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage',
       'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera',
       'orchestral', 'other', 'piano', 'pop', 'popelectronic',
       'popeurodance', 'post', 'posthardcore', 'postrock', 'power',
       'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk',
       'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae',
       'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm',
       'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop',
       'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self',
       'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow',
       'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern',
       'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf',
       'swing', 'synthpop', 's√§ngerportrait', 'tango', 'tanzorchester',
       'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional',
       'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical',
       't√ºrk', 't√ºrk√ße', 'unknown', 'urban', 'uzbek', 'vari√©t√©', 'vi',
       'videogame', 'vocal', 'western', 'world', 'worldbeat', '√Ø√Æ√Ø'],
      dtype=object)

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Bagus, daftar genre yang unik dan berurutan sudah didapatkan. Namun alangkah lebih baiknya untuk mengurutkan nilai di dataframe menggunakan metode `sort_values()` sehingga seperti ini `df['genre'].sort_values().unique()`.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

Lihat melalui *list* untuk menemukan duplikat implisit dari genre `hiphop`. Ini bisa berupa nama yang ditulis secara salah atau nama alternatif dari genre yang sama.

Anda akan melihat duplikat implisit berikut:
* `hip`
* `hop`
* `hip-hop`

Untuk menghapusnya, gunakan fungsi `replace_wrong_genres()` dengan dua parameter:
* `wrong_genres=` ‚Äî daftar duplikat
* `correct_genre=` ‚Äî string dengan nilai yang benar

Fungsi harus mengoreksi nama dalam kolom `'genre'` dari tabel `df`, yaitu mengganti setiap nilai dari daftar `wrong_genres` dengan nilai dalam `correct_genre`.

In [15]:
# fungsi untuk mengganti duplikat implisit
def replace_wrong_genres(wrong_values, correct_values):
    for value in wrong_values:
        df['genre'] = df['genre'].replace(wrong_values, correct_values)

list_dupli = ['hip', 'hop', 'hip-hop']
genres = 'hiphop'

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Fungsi yang dibuat sudah depat.
</div>

Panggil `replace_wrong_genres()` dan berikan argumennya sehingga ia menghapus duplikat implisit (`hip`, `hop`, dan `hip-hop`) dan menggantinya dengan `hiphop`:

In [16]:
# menghapus duplikat implisit
update_genres = replace_wrong_genres(list_dupli, genres)

Pastikan nama duplikat telah dihapus. Tampilkan daftar nilai unik dari kolom `'genre'`:

In [17]:
# memeriksa duplikat implisit
df['genre'].sort_values().unique()

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'ax√©', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forr√≥',
       'frankreich', 'franz√∂sisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hiphop', 'historisch',
       'holiday', 'horror', 'house', 'idm', 'independent', 'indian',
       'indie', 'indipop', 'industrial', 'inspirational', 'instrumental',
       'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish',
       'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku',
       'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local',
       'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop',
       'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal',
       'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous',
       'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue',
       'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania',
       'old', 'opera', 'orchestral', 'other', 'piano', 'pop',
       'popelectronic', 'popeurodance', 'post', 'posthardcore',
       'postrock', 'power', 'progmetal', 'progressive', 'psychedelic',
       'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap',
       'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious',
       'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance',
       'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba',
       'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes',
       'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound',
       'soundtrack', 'southern', 'specialty', 'speech', 'spiritual',
       'sport', 'stonerrock', 'surf', 'swing', 'synthpop',
       's√§ngerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech',
       'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance',
       'tribal', 'trip', 'triphop', 'tropical', 't√ºrk', 't√ºrk√ße',
       'unknown', 'urban', 'uzbek', 'vari√©t√©', 'vi', 'videogame', 'vocal',
       'western', 'world', 'worldbeat', '√Ø√Æ√Ø'], dtype=object)

<div class="alert alert-danger">
<b>Reviewer's comment v1 </b> <a class="tocSkip"></a>

Seharusnya menggunakan pengurutan agar lebih mudah dapat pengecekan nilai yang unik sama seperti sebelumnya.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

[Kembali ke Daftar Isi](#back)

### Kesimpulan <a id='data_preprocessing_conclusions'></a>
Kita mendeteksi tiga masalah dengan data:

- Gaya penulisan judul yang salah
- Nilai-nilai yang hilang
- Duplikat eksplisit dan implisit

Judulnya pun sekarang telah dibersihkan untuk mempermudah pemrosesan tabel.
Semua nilai yang hilang telah diganti dengan `'unknown'`. Tapi kita masih harus melihat apakah nilai yang hilang dalam `'genre'` akan memengaruhi perhitungan kita.

Tidak adanya duplikat akan membuat hasil lebih tepat dan lebih mudah dipahami.

Sekarang kita dapat melanjutkan ke pengujian hipotesis.

[Kembali ke Daftar Isi](#back)

## Tahap 3. Menguji Hipotesis <a id='hypotheses'></a>

### Hipotesis 1: Membandingkan Perilaku Pengguna di Dua Kota <a id='activity'></a>

Menurut hipotesis pertama, pengguna dari Springfield dan Shelbyville memiliki perbedaan perilaku dalam mendengarkan musik. Pengujian ini menggunakan data pada hari: Senin, Rabu, dan Jumat.

* Pisahkan pengguna ke dalam kelompok berdasarkan kota.
* Bandingkan berapa banyak lagu yang dimainkan setiap kelompok pada hari Senin, Rabu, dan Jumat.

Untuk latihan, lakukan setiap perhitungan secara terpisah.

Evaluasi aktivitas pengguna di setiap kota. Kelompokkan data berdasarkan kota dan temukan jumlah lagu yang diputar di setiap kelompok.

In [18]:
# Menghitung lagu yang diputar di setiap kota
city_group = df.groupby('city')['city'].count()
city_group

city
Shelbyville    18512
Springfield    42741
Name: city, dtype: int64

Springfield memiliki lebih banyak lagu yang dimainkan daripada Shelbyville. Namun bukan berarti warga Springfield lebih sering mendengarkan musik. Kota ini lebih besar, dan memiliki lebih banyak pengguna.

Sekarang kelompokkan data menurut hari dan temukan jumlah lagu yang diputar pada hari Senin, Rabu, dan Jumat.

In [19]:
# Menghitung trek yang diputar pada masing-masing hari
day_track_group = df.groupby('day')['track'].count()
day_track_group

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel. Sehingga kode dapat ditulis sebagai berikut
    
    day_track_group = df.groupby('day')['track'].count()
    day_track_group 

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

Rabu adalah hari paling tenang secara keseluruhan. Tetapi jika kita mempertimbangkan kedua kota secara terpisah, kita mungkin akan memiliki kesimpulan yang berbeda.

Anda telah melihat cara kerja pengelompokan berdasarkan kota atau hari. Sekarang tulis fungsi yang akan dikelompokkan berdasarkan keduanya.

Buat fungsi `number_tracks()` untuk menghitung jumlah lagu yang diputar untuk hari dan kota tertentu. Ini akan membutuhkan dua parameter:
* nama hari
* nama kota

Dalam fungsi, gunakan variabel untuk menyimpan baris dari tabel asli, di mana:
  *  Nilai kolom `'day'` sama dengan parameter `day`
  * Nilai kolom `'city'` sama dengan parameter `city`

Terapkan pemfilteran berurutan dengan pengindeksan logika.

Kemudian hitung nilai kolom `'user_id'` pada tabel yang dihasilkan. Simpan hasilnya ke variabel baru. Kembalikan variabel ini dari fungsi.

In [20]:
# <membuat fungsi number_tracks()>
# Kita akan mendeklarasikan sebuah fungsi dengan dua parameter: day=, city=.
# Biarkan variabel track_list menyimpan baris df di mana
# nilai di kolom 'day' sama dengan parameter day= dan, pada saat yang sama,
# nilai pada kolom 'city' sama dengan parameter city= (terapkan pemfilteran berurutan
# dengan pengindeksan logis).
# Biarkan variabel track_list_count menyimpan jumlah nilai kolom 'user_id' pada track_list
# (temukan dengan metode count()).
# Biarkan fungsi menghasilkan jumlah: nilai track_list_count.

# Fungsi menghitung lagu yang diputar untuk kota dan hari tertentu.
# Pertama-tama ia akan mengambil baris dengan hari yang diinginkan dari tabel,# kemudian memfilter baris hasilnya dengan kota yang dimaksud,
# kemudian mencari jumlah nilai 'user_id' pada tabel yang difilter,
# kemudian menghasilkan jumlah tersebut.
# Untuk melihat apa yang dihasilkan, kemas pemanggilan fungsi pada print().
day_city_track_group = df.groupby(['city', 'day'])['user_id'].count()
day_city_track_group

def number_tracks(city, day):
    track_list = df[df['city'] == city]
    track_list  = track_list[track_list ['day'] == day]
    #track_list_count = track_list.groupby(['city','day'])['user_id'].count()
    track_list_count = track_list['user_id'].count()
    return track_list_count

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Pada variabel `track_list_count` sepertinya sudah tidak perlu dilakukan `group_by` dan sebaiknya menggunakan `return` dibandingkan `print()` agar output dari fungsi yang dibuat dapat didefinisikan disebuah variabel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

Panggil `number_tracks()` enam kali dan ubahlah nilai parameternya, sehingga Anda bisa mengambil data di kedua kota untuk masing-masing hari tersebut.

In [21]:
# jumlah lagu yang diputar di Springfield pada hari Senin
number_tracks('Springfield', 'Monday')

15740

In [22]:
# jumlah lagu yang diputar di Shelbyville pada hari Senin
number_tracks('Shelbyville', 'Monday')

5614

In [23]:
#  jumlah lagu yang diputar di Springfield pada hari Rabu
number_tracks('Springfield', 'Wednesday')

11056

In [24]:
#  jumlah lagu yang diputar di Shelbyville pada hari Rabu
number_tracks('Shelbyville', 'Wednesday')

7003

In [25]:
# jumlah lagu yang diputar di Springfield pada hari Jumat
number_tracks('Springfield', 'Friday')

15945

In [26]:
# jumlah lagu yang diputar di Shelbyville pada hari Jumat
number_tracks('Shelbyville', 'Friday')

5895

Gunakan `pd.DataFrame` untuk membuat tabel, di mana
* Nama kolom adalah: `['city', 'monday', 'wednesday', 'friday']`
* Data adalah hasil yang Anda dapatkan dari `number_tracks()`

In [27]:
# tabel dengan hasil
number_track = [['Shelbyville',5614, 7003, 5895], # pengukuran disimpan dalam list dari list
      ['Springfield',15740, 11056, 15945]]

header = ['city','monday', 'wednesday', 'friday'] 

track = pd.DataFrame(data=number_track, columns=header) 

#print(track)
track

          city  monday  wednesday  friday
0  Shelbyville    5614       7003    5895
1  Springfield   15740      11056   15945

**Kesimpulan**

Data mengungkapkan perbedaan perilaku pengguna:

- Pada Springfield, jumlah lagu yang diputar mencapai puncaknya pada hari Senin dan Jumat, sedangkan pada hari Rabu terjadi penurunan aktivitas.
- Di Shelbyville, sebaliknya, pengguna lebih banyak mendengarkan musik pada hari Rabu.

Aktivitas pengguna pada hari Senin dan Jumat lebih sedikit.

[Kembali ke Daftar Isi](#back)

### Hipotesis 2: Musik di Awal dan Akhir Minggu <a id='week'></a>

Menurut hipotesis kedua, pada Senin pagi dan Jumat malam, warga Springfield mendengarkan genre yang berbeda dari yang dinikmati warga Shelbyville.

Dapatkan tabel (pastikan nama tabel gabungan Anda cocok dengan DataFrame yang diberikan dalam dua blok kode di bawah):
* Untuk Springfield ‚Äî `spr_general`
* Untuk Shelbyville ‚Äî `shel_general`

In [28]:
# mendapatkan tabel spr_general dari baris df,
# di mana nilai dari kolom 'city' adalah 'Springfield'
spr_general = df[df['city'] == 'Springfield']
#print(spr_general)
spr_general

,user_id,track,artist,genre,city,time,day
31916,C40BC5DF,Shot in the Dark,Four80East,acid,Springfield,09:44:12,Friday
20264,B02ED3AB,Prelude ‚Äì Ne Me Qui Te Pas,unknown,acoustic,Springfield,13:31:03,Wednesday
37784,77D3A7D9,Prelude ‚Äì Ne Me Qui Te Pas,unknown,acoustic,Springfield,14:27:34,Monday
57580,23C64044,Don't Stop Me Now,Acoustic Heartstrings,acoustic,Springfield,13:30:01,Wednesday
26378,4D96EB78,Eventuality,Jack Trammell,action,Springfield,21:22:51,Monday
...,...,...,...,...,...,...,...
21378,77DBBA7A,Accordion Rhythm,Ahmed Nasr,world,Springfield,08:50:36,Friday
6158,12A10DD5,Ekatana,Shantavaani,world,Springfield,14:30:19,Friday
17963,653E0EF,Kalinka,The Red Army Choirs Of Alexandrov (Les Choeurs...,world,Springfield,21:08:36,Wednesday
27939,D7FB50DA,Drumming Circle,Professor Trance,worldbeat,Springfield,09:30:47,Monday
8448,A439123F,Flip It,unknown,√Ø√Æ√Ø,Springfield,09:08:51,Friday

In [29]:
# mendapatkan shel_general dari baris df,
# di mana nilai dari kolom 'city' adalah 'Shelbyville'
shel_general = df[df['city'] == 'Shelbyville']
shel_general

,user_id,track,artist,genre,city,time,day
3636,F10919ED,Ready For The Fire,Valley Of Wolves,acoustic,Shelbyville,21:33:18,Monday
14611,1C7D9E90,Prelude ‚Äì Ne Me Qui Te Pas,unknown,acoustic,Shelbyville,21:47:42,Friday
18251,897AAB4E,Betcha Never,Cherie,adult,Shelbyville,09:30:39,Friday
34021,4DCD818F,Blue Skies Again,Jessica Lea Mayfield,adult,Shelbyville,09:05:48,Wednesday
47420,826C2C51,Your Song,Ben Cocks,adult,Shelbyville,20:48:28,Friday
...,...,...,...,...,...,...,...
21189,6B1890C6,Unknown Dream,Farhad,world,Shelbyville,14:46:01,Wednesday
21251,F3D7493D,Hello peppinedda my girl josephine,Dany Danubio,world,Shelbyville,21:16:10,Monday
40312,DC347AA4,La Sitiera,Omara Portuondo,world,Shelbyville,21:32:36,Wednesday
48288,4DC32D69,Oath Sign,DJ Mocchi,world,Shelbyville,14:05:36,Friday
39063,AA1730E8,Anu,Kailash Kokopelli,worldbeat,Shelbyville,20:16:34,Wednesday

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

Tulis fungsi `genre_weekday()` dengan empat parameter:
* Sebuah tabel untuk data
* Nama hari
* Tanda waktu pertama, dalam format 'hh:mm'
* Tanda waktu terakhir, dalam format 'hh: mm'

Fungsi tersebut harus menghasilkan info tentang 15 genre paling populer pada hari tertentu dalam periode antara dua tanda waktu.

In [30]:
# Mendeklarasikan fungsi genre_weekday() dengan parameter day=, time1=, dan time2=. Ia harus
# memberikan informasi tentang genre paling populer pada hari dan waktu tertentu:

# 1) Biarkan variabel genre_df menyimpan baris yang memenuhi beberapa ketentuan:
#    - nilai pada kolom 'day' sama dengan nilai argumen hari=
#    - nilai pada kolom 'time' lebih besar dari nilai argumen time1=
#    - nilai pada kolom 'time' lebih kecil dari nilai argumen time2=
#    Gunakan pemfilteran berurutan dengan pengindeksan logis.

# 2) Kelompokkan genre_df berdasarkan kolom 'genre', lalu ambil salah satu kolomnya,
#    dan gunakan metode count() untuk menemukan jumlah entri untuk masing-masing
#    genre yang diwakili; simpan Series yang dihasilkan ke
#    variabel genre_df_count

# 3) Urutkan genre_df_count dalam urutan menurun dan simpan hasilnya
#    ke variabel genre_df_sorted

# 4) Menghasilkan objek Series dengan nilai 15 genre_df_sorted pertama - 15 genre paling
#    populer (pada hari tertentu, dalam jangka waktu tertentu)

# tulis fungsi Anda di sini
def genre_weekday(data_general, day, time1, time2):
    # pemfilteran berturut-turut
    # genre_df hanya akan menyimpan baris df di mana day sama dengan day=
    genre_df = data_general[data_general['day'] == day]# tulis kode program Anda di sini

    # genre_df hanya akan menyimpan baris df di mana time lebih kecil dari time2=
    genre_df =  genre_df[genre_df['time'] >= time1]# tulis kode program Anda di sini

    # genre_df hanya akan menyimpan baris df di mana time lebih besar dari time1=
    genre_df = genre_df[genre_df['time'] <= time2]# tulis kode program Anda di sini

    # kelompokkan DataFrame yang difilter berdasarkan kolom dengan nama genre, ambil kolom genre, dan temukan jumlah baris untuk setiap genre dengan metode count()
    genre_df_grouped = genre_df_grouped = genre_df.groupby('genre')['genre'].count()# tulis kode program Anda di sini

    # kita akan mengurutkan hasilnya dalam urutan menurun (sehingga genre paling populer didahulukan pada objek Series
    genre_df_sorted = genre_df_sorted = genre_df_grouped.sort_values(ascending=False)# tulis kode program Anda di sini

    # kita akan menghasilkan objek Series yang menyimpan 15 genre paling populer pada hari tertentu dalam jangka waktu tertentu
    return genre_df_sorted[:15]

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Fungsi didefinisikan dengan tepat.
</div>

Bandingkan hasil fungsi `genre_weekday()` untuk Springfield dan Shelbyville pada Senin pagi (dari pukul 07.00 hingga 11.00) dan pada Jumat malam (dari pukul 17:00 hingga 23:00):

In [31]:
# memanggil fungsi untuk Senin pagi di Springfield (gunakan spr_general alih-alih tabel df)
genre_weekday(spr_general, 'Monday', '07:00:00', "11:00")

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: genre, dtype: int64

In [32]:
# memanggil fungsi untuk Senin pagi di Shelbyville (gunakan shel_general alih-alih tabel df)
genre_weekday(shel_general, 'Monday', '07.00', "11.00")

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: genre, dtype: int64

In [33]:
# memanggil fungsi untuk Jumat malam di Springfield
genre_weekday(spr_general, 'Friday', '17:00', "23:00")

genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: genre, dtype: int64

In [34]:
# memanggil fungsi untuk Jumat malam di Shelbyville
genre_weekday(shel_general, 'Friday', '17;00', "23:00")

genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: genre, dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

**Kesimpulan**

Setelah membandingkan 15 genre teratas pada Senin pagi, kita dapat menarik kesimpulan berikut:

1. Pengguna dari Springfield dan Shelbyville mendengarkan musik dengan genre yang sama. Lima genre teratas sama, hanya rock dan elektronik yang bertukar tempat.

2. Di Springfield, jumlah nilai yang hilang ternyata sangat besar sehingga nilai `'unknown'` berada di urutan ke-10. Ini berarti bahwa nilai-nilai yang hilang memiliki jumlah data yang cukup besar, yang mungkin menjadi dasar untuk mempertanyakan ketepatan kesimpulan kita.

Untuk Jumat malam, situasinya serupa. Genre individual cukup bervariasi, tetapi secara keseluruhan, 15 besar genre untuk kedua kota sama.

Dengan demikian, hipotesis kedua sebagian terbukti benar:
* Pengguna mendengarkan musik yang sama di awal dan akhir minggu.
* Tidak ada perbedaan yang mencolok antara Springfield dan Shelbyville. Pada kedua kota tersebut, pop adalah genre yang paling populer.

Namun, jumlah nilai yang hilang membuat hasil ini dipertanyakan. Di Springfield, ada begitu banyak yang memengaruhi 15 teratas kita. Jika kita tidak mengabaikan nilai-nilai ini, hasilnya mungkin akan berbeda.

[Kembali ke Daftar Isi](#back)

### Hipotesis 3: Preferensi Genre di Springfield dan Shelbyville <a id='genre'></a>

Hipotesis: Shelbyville menyukai musik rap. Warga Springfield lebih menyukai pop.

Kelompokkan tabel `spr_general` berdasarkan genre dan temukan jumlah lagu yang dimainkan untuk setiap genre dengan metode `count()`. Kemudian urutkan hasilnya dalam urutan menurun dan simpan ke `spr_genres`.

In [35]:
# pada satu baris: kelompokkan tabel spr_general berdasarkan kolom 'genre',
# hitung nilai 'genre' dengan count() dalam pengelompokan,
# urutkan Series yang dihasilkan dalam urutan menurun, lalu simpan ke spr_genres
spr_general = spr_general.groupby('genre')['genre'].count()
spr_genres = spr_general.sort_values(ascending=False)

Tampilkan 10 baris pertama dari `spr_genres`:

In [36]:
# menampilkan 10 baris pertama dari spr_genres
spr_genres[:10]

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: genre, dtype: int64

Sekarang lakukan hal yang sama pada data di Shelbyville.

Kelompokkan tabel `shel_general` berdasarkan genre dan temukan jumlah lagu yang dimainkan untuk setiap genre. Kemudian urutkan hasilnya dalam urutan menurun dan simpan ke tabel `shel_genres`:

In [37]:
# pada satu baris: kelompokkan tabel shel_general menurut kolom 'genre',
# hitung nilai 'genre' dalam pengelompokan menggunakan count(),
# urutkan Series yang dihasilkan dalam urutan menurun dan simpan ke shel_genres
shel_general = shel_general.groupby('genre')['genre'].count()
shel_genres = shel_general.sort_values(ascending=False)

Tampilkan 10 baris pertama dari `shel_genres`:

In [38]:
# menampilkan 10 baris pertama dari shel_genres
shel_genres[:10]

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: genre, dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan `print()` dalam rangka menampilkan output tidak diperlukan pada kode baris terakhir di suatu sel.

</div>

<div class="alert alert-block alert-info">
<b>Hai Naufal Terima Kasih, saya sudah perbaiki.</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Mantab!

</div>

**Kesimpulan**

Hipotesis terbukti benar sebagian:
* Musik pop adalah genre paling populer di Springfield, seperti yang diharapkan.
* Namun, musik pop ternyata sama populernya baik di Springfield maupun di Shelbyville, dan musik rap tidak berada di 5 besar untuk kedua kota tersebut.

[Kembali ke Daftar Isi](#back)

# Temuan <a id='end'></a>

Kita telah menguji tiga hipotesis berikut:

1. Aktivitas pengguna berbeda-beda tergantung pada hari dan kotanya.
2. Pada senin pagi, penduduk Springfield dan Shelbyville mendengarkan genre yang berbeda. Hal ini juga ini juga berlaku untuk Jumat malam.
3. Pendengar di Springfield dan Shelbyville memiliki preferensi yang berbeda. Baik Springfield maupun di Shelbyville, mereka lebih suka musik pop.

Setelah menganalisis data, kita dapat menyimpulkan:

1. Aktivitas pengguna di Springfield dan Shelbyville bergantung pada harinya, walaupun kotanya berbeda.

Hipotesis pertama dapat diterima sepenuhnya.

2. Preferensi musik tidak terlalu berbeda selama seminggu di Springfield dan Shelbyville. Kita dapat melihat perbedaan kecil dalam urutan pada hari Senin, tetapi:
* Baik di Springfield maupun di Shelbyville, orang paling banyak mendengarkan musik pop.

Jadi hipotesis ini tidak dapat kita terima. Kita juga harus ingat bahwa hasilnya mungkin saja akan berbeda jika bukan karena nilai yang hilang.
3. Ternyata preferensi musik pengguna dari Springfield dan Shelbyville sangat mirip.

Hipotesis ketiga ditolak. Jika memang ada perbedaan preferensi, ia tidak dapat dilihat dari data ini.
### Catatan
Dalam proyek sesungguhnya, penelitian melibatkan pengujian hipotesis statistik, yang lebih tepat dan lebih kuantitatif. Perhatikan juga bahwa Anda tidak dapat selalu menarik kesimpulan tentang seluruh kota berdasarkan data dari satu sumber saja.

Anda akan mempelajari pengujian hipotesis dalam sprint analisis data statistik.

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Secara keseluruhan ini adalah hasil yang cukup bagus namun terdapat beberapa catatan yang perlu diperbaiki.

</div>

[Kembali ke Daftar Isi](#back)